body{
    background-color:lightsalmon;
    background-image:url;
    margin: 20px;
}

#main-header{
    text-align:center;
    margin-right:4%;
}

#main-nav{
    overflow:hidden;
    background-color:lightblue;
     display:inline-block;  
    margin-left:25%;
    align-items:center;
}

.nav{
    float:left;
    text-align:center;
    padding:14px 16px 8px 14px;
    font-size:x-large;
    font-family:'Roboto Mono';
    color:lightslategray;
    background-color: mistyrose;
    border-style:solid;
    border-color: plum;
    justify-content:space-between;
    left:600px;
    top:10px;
    margin:20px;
    height:40px;
    width:303px;
}

#content{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;

}

#content > div{
    flex: 50%;
    padding: 10px;
    align-content: center;
}

#bio-content{
   
}


#bio-content,#hobbies-content,#Education,#Image{
    font-size:x-large;
    color:lightslategrey;
    background-color:mistyrose;
    border-color:plum;
    min-height:100px;
    border-style:solid;
}

#bio-content, #Education{
    margin-right:10px;
}

#footer{
    text-align:center;
    margin-right:4%;
}



